openapi: 3.0.3
info:
  title: Trillboards Partner API
  version: 1.1.0
  description: |
    API for partner integrations with Trillboards digital advertising platform.

    Use this API to integrate ads into your vending machines, kiosks, digital signage,
    and other display devices. Partners receive competitive revenue share on all impressions.

    ## Authentication

    Most endpoints require API key authentication using Bearer token:
    ```
    Authorization: Bearer trb_partner_xxxxx
    ```

    API keys are generated during partner registration and should be stored securely.

    ## Rate Limits

    All endpoints return rate limit headers:
    - `X-RateLimit-Limit`: Maximum requests allowed per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Unix timestamp when window resets
    - `RateLimit-Policy`: IETF draft-7 format policy string

    Rate limits by endpoint type:
    | Endpoint Type | Limit | Window |
    |--------------|-------|--------|
    | Registration | 5 | 1 hour |
    | Authenticated API | 1000 | 1 minute |
    | Ad serving | 100 | 1 minute |
    | Impressions | 500 | 1 minute |
    | Programmatic events | 300 | 1 minute |
    | Batch impressions | 100 | 1 minute |
    | Heartbeat | 60 | 1 minute |
    | Venue intelligence | 100 | 1 minute |
    | Audience intelligence | 100 | 1 minute |
    | Bulk device operations | 20 | 1 minute |

    Exceeding rate limits returns HTTP 429 with a `Retry-After` header.

    ## Quick Start

    **Option A: New Partner Registration**
    1. Register as a partner via `POST /register` (returns API key)
    2. Register your devices
    3. Load the `embed_url` in your device's WebView or use `/device/{id}/ads` in custom UI
    4. Impressions are tracked automatically

    **Option B: Existing Earner Upgrade**
    If you already have a Trillboards earner account:
    1. Call `POST https://api.trillboards.com/v2/earner/upgrade-to-partner` with your user JWT
    2. Receive your Partner API key (one-time display - save it!)
    3. Your existing screens remain visible alongside new API-registered screens

    ## SDK

    Install the official TypeScript SDK for type-safe integration:
    ```
    npm install @trillboards/ads-sdk
    ```

    The SDK provides 4 entry points:
    - `@trillboards/ads-sdk` — Core browser SDK with ad player, events, and caching
    - `@trillboards/ads-sdk/react` — React hooks and components (TrillboardsProvider, TrillboardsAdSlot)
    - `@trillboards/ads-sdk/react-native` — React Native WebView wrapper
    - `@trillboards/ads-sdk/server` — Node.js PartnerClient with audience, analytics, auctions, creatives

    Full documentation: https://trillboards.com/developers/partner-sdk

  contact:
    name: Trillboards Developer Support
    email: developers@trillboards.com
    url: https://trillboards.com/developers
  license:
    name: Proprietary
    url: https://trillboards.com/terms-of-service

servers:
  - url: https://api.trillboards.com/v1/partner
    description: Production API
  - url: http://localhost:4004/v1/partner
    description: Local development

tags:
  - name: Partners
    description: Partner account management
  - name: Devices
    description: Device registration and management
  - name: Ads
    description: Ad serving endpoints
  - name: Impressions
    description: Impression tracking
  - name: Analytics
    description: Analytics and reporting
  - name: CMS
    description: Content management for partner screens
  - name: Webhooks
    description: Webhook subscriptions for real-time event notifications
  - name: Dashboard
    description: Dashboard overview and screen-level analytics
  - name: Earnings
    description: Earnings, transactions, and payout management
  - name: Team
    description: Team member management for partner organizations
  - name: VAST Integration
    description: |
      Direct VAST integration endpoints for partners who want to fetch ads directly from Google Ad Manager.

      This is the recommended approach for enterprise partners with existing video players.
      Partners cache the VAST config, build URLs client-side, and report impressions in batch.

      **Architecture:** Trillboards provides config + tracking only. Partners fetch VAST directly from Google.
  - name: Batch Tracking
    description: |
      High-volume impression tracking with cryptographic proof generation.

      Designed for partners with 10,000+ screens who need efficient batch reporting.
      Each impression receives an Ed25519 signature for third-party verification.
  - name: Fleet Management
    description: |
      Fleet-wide device management for partners with large screen networks.

      Push commands, update settings, and view analytics across your entire fleet.
      Supports filtering by venue type, country, and specific screen IDs.
  - name: Stripe Connect
    description: |
      Stripe Connect integration for partner payouts.

      Create a Stripe Connect account, complete onboarding, and receive payouts
      directly to your bank account. Minimum payout is $5.00.
  - name: Connect Dashboard
    description: |
      SDK partner dashboard API for earnings, screen health, and analytics.

      Provides pre-aggregated data optimized for embedding in partner dashboards.
  - name: Venue Intelligence
    description: |
      Real-world venue intelligence from CTV audience sensing.

      Access foot traffic patterns, atmosphere data, nearby venues, and network-wide trends.
      Data is aggregated from on-device face detection, audio analysis, and environmental sensors.
  - name: Audience Intelligence
    description: |
      Advanced audience analytics including live data, heatmaps, lookalike screens, and predictions.

      Some endpoints require Developer or Enterprise tier access.
    x-beta: true
  - name: Audience Segments
    description: |
      Custom audience segment targeting for programmatic campaigns.

      Create segments based on demographics, venue type, geography, and audience behavior.
      Match segments to screens and generate targeted VAST tags.

      **Requires Enterprise tier.**
    x-beta: true
  - name: Intent Catalog
    description: |
      Intent-based pricing catalog for audience purchase intent signals.

      Browse intent categories and get real-time intent pricing for screens
      based on live audience signals (speech, emotion, behavior).
    x-beta: true
  - name: Sandbox
    description: |
      Testing tools for partner API integration.

      Create sandbox screens, generate test events, and validate webhook integrations
      without affecting production data. Sandbox data expires after 24 hours.
    x-beta: true
  - name: Usage
    description: API usage tracking, rate limit status, and usage dashboards
  - name: Events
    description: |
      Server-Sent Events (SSE) for real-time event streaming.

      Subscribe to live events from your screens including audience updates,
      device status changes, and impression notifications.
      Maximum 5 concurrent SSE connections per partner.
  - name: Network Config
    description: White-label network configuration for content preferences, waterfall settings, and branding
  - name: Billing
    description: |
      Usage-based billing and credit management.

      Trillboards uses a pay-per-use model with generous free tiers. No subscriptions required.
      When free tier limits are exceeded, endpoints return 402 Payment Required until billing
      is set up via Stripe. Credits can be purchased at volume discounts.
  - name: Agent Registration
    description: |
      Self-service registration for AI agents and automated systems.

      Agents can register without human intervention, receive an API key and sandbox screens,
      and begin making API calls immediately within free tier limits.

paths:
  /register:
    post:
      tags:
        - Partners
      summary: Register a new partner
      description: |
        Register as a new partner to receive an API key.
        Partners are auto-activated for instant onboarding.

        **Important:** The API key is only shown once in the response. Store it securely!
      operationId: registerPartner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - contact_email
              properties:
                name:
                  type: string
                  description: Company or partner name
                  example: Acme Vending Co
                slug:
                  type: string
                  description: URL-safe identifier (lowercase, no spaces)
                  example: acmevending
                contact_email:
                  type: string
                  format: email
                  example: developer@example.com
                contact_name:
                  type: string
                  example: Jane Developer
                partner_type:
                  type: string
                  enum: [vending_machine, kiosk, digital_signage, retail_display, other]
                  default: other
                revenue_share_percent:
                  type: number
                  description: Partner's revenue share percentage (negotiated per partner)
                  minimum: 0
                  maximum: 100
                allowed_domains:
                  type: array
                  items:
                    type: string
                  description: Whitelist of allowed referrer domains
      responses:
        '201':
          description: Partner registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Partner registered successfully. API key shown once - save it securely.
                  data:
                    type: object
                    properties:
                      partner_id:
                        type: string
                        example: 507f1f77bcf86cd799439011
                      slug:
                        type: string
                        example: acmevending
                      api_key:
                        type: string
                        description: Store this securely - only shown once!
                        example: trb_partner_a1b2c3d4e5f6g7h8i9j0
                      status:
                        type: string
                        enum: [pending, active]
                        example: active
                      revenue_share_percent:
                        type: number
                        example: 80
                      portal_access:
                        type: object
                        description: Optional portal onboarding details for the partner owner account
                        properties:
                          user_id:
                            type: string
                          email:
                            type: string
                            format: email
                          new_account:
                            type: boolean
                          portal_url:
                            type: string
                            example: "https://trillboards.com/earner"
                          portal_auth_url:
                            type: string
                            example: "https://trillboards.com/earner/auth"
                          claim_required:
                            type: boolean
                          claim_request_endpoint:
                            type: string
                            example: "/v1/user/claim/request"
                          claim_verify_endpoint:
                            type: string
                            example: "/v1/user/claim/verify"
                          claim_complete_endpoint:
                            type: string
                            example: "/v1/user/claim/complete"
                          message:
                            type: string
                            example: "An earner portal account has been created. Check your email to set your password."
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Partner slug already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /info:
    get:
      tags:
        - Partners
      summary: Get partner info
      description: Retrieve information about the authenticated partner
      operationId: getPartnerInfo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Partner info retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Partner'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /device:
    post:
      tags:
        - Devices
      summary: Register a device
      description: |
        Register a new device or update an existing one.

        If a device with the same `device_id` already exists, it will be updated.

        The response includes an `embed_url` that should be loaded in your device's WebView.
      operationId: registerDevice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - device_id
              properties:
                device_id:
                  type: string
                  description: Your internal device identifier
                  example: machine-001
                device_type:
                  type: string
                  enum: [vending_machine, kiosk, tablet, display, other]
                  default: other
                name:
                  type: string
                  description: Friendly name for the device
                  example: Mall of America - Floor 2
                description:
                  type: string
                  description: Screen or venue description for enrichment
                photo_url:
                  type: string
                  format: uri
                  description: Photo URL for enrichment context
                photos:
                  type: array
                  description: Optional additional photos for enrichment
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      type:
                        type: string
                        description: photo type (context, close, angle, other)
                display:
                  type: object
                  properties:
                    width:
                      type: integer
                      example: 1920
                    height:
                      type: integer
                      example: 1080
                    orientation:
                      type: string
                      enum: [landscape, portrait]
                      default: landscape
                    ppi:
                      type: number
                      description: Pixels per inch
                location:
                  type: object
                  properties:
                    lat:
                      type: number
                      format: double
                      example: 44.8537
                    lng:
                      type: number
                      format: double
                      example: -93.2428
                    address:
                      type: string
                      example: 60 E Broadway, Bloomington, MN
                    venue_type:
                      type: string
                      enum: [mall, airport, retail, restaurant, office, gym, hospital, school, other]
                    venue_name:
                      type: string
                      example: Mall of America
                    country:
                      type: string
                      example: US
                    state:
                      type: string
                      example: MN
                    city:
                      type: string
                      example: Bloomington
                    zip:
                      type: string
                      example: 55425
                    timezone:
                      type: string
                      example: America/Chicago
                venue:
                  type: object
                  description: Venue classification details (optional). Subcategory is free text and may be auto-enriched by AI.
                  properties:
                    category:
                      type: string
                      enum: [retail, restaurant, bar, cafe, hotel, office, gym, hospital, school, mall, airport, gas_station, convenience_store, laundromat, salon, auto_shop, other]
                      example: retail
                    subcategory:
                      type: string
                      description: Free text subcategory (may be auto-enriched by AI)
                    environment_type:
                      type: string
                      enum: [indoor, outdoor, semi_outdoor, transit]
                      example: indoor
                    placement_type:
                      type: string
                      enum: [digital_signage, point_of_sale, waiting_area, window_display, kiosk, other]
                      example: digital_signage
                    business_name:
                      type: string
                    context_notes:
                      type: string
                placement:
                  type: object
                  description: Physical placement details (optional)
                  properties:
                    mounting_type:
                      type: string
                      enum: [wall, ceiling, tabletop, window, stand, freestanding, other, unknown]
                      example: wall
                    orientation:
                      type: string
                      enum: [landscape, portrait]
                      example: landscape
                    viewing_distance_ft:
                      type: number
                      example: 8
                    height_from_floor_ft:
                      type: number
                      example: 5
                custom_metadata:
                  type: object
                  description: Any additional metadata for your records
      responses:
        '201':
          description: Device registered
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Device registered
                  data:
                    type: object
                    properties:
                      device_id:
                        type: string
                        description: Our internal device ID
                      external_device_id:
                        type: string
                        description: Your device ID
                      fingerprint:
                        type: string
                        description: Device fingerprint for SDK
                      status:
                        type: string
                      screen_id:
                        type: string
                        description: Linked screen ID
                      embed_url:
                        type: string
                        description: Load this URL in your WebView
                      enrichment_status:
                        type: string
                        description: Enrichment completion state
              example:
                success: true
                message: "Device registered"
                data:
                  device_id: "6507a1b2c3d4e5f6g7h8i9j0"
                  external_device_id: "machine-001"
                  fingerprint: "P_a1b2c3d4e5f6g7h8"
                  screen_id: "6507a1b2c3d4e5f6g7h8aa11"
                  status: "active"
                  embed_url: "https://screen.trillboards.com?fp=P_a1b2c3d4e5f6g7h8"
                  enrichment_status: "pending"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /device/{deviceId}:
    get:
      tags:
        - Devices
      summary: Get device info
      operationId: getDevice
      security:
        - BearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device ID, fingerprint, or external device ID
          schema:
            type: string
      responses:
        '200':
          description: Device info
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Device'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Devices
      summary: Update device metadata
      description: |
        Partially update device metadata. Only provided fields are updated.
        Changes propagate to the linked screen record.
        If location changes, venue enrichment is re-triggered.
      operationId: updateDevice
      security:
        - BearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device ID, fingerprint, or external device ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Friendly name for the device
                description:
                  type: string
                  description: Screen or venue description
                photo_url:
                  type: string
                  format: uri
                photos:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      type:
                        type: string
                display:
                  type: object
                  properties:
                    width:
                      type: integer
                    height:
                      type: integer
                    orientation:
                      type: string
                      enum: [landscape, portrait]
                    ppi:
                      type: number
                location:
                  type: object
                  properties:
                    lat:
                      type: number
                      format: double
                    lng:
                      type: number
                      format: double
                    address:
                      type: string
                    country:
                      type: string
                    state:
                      type: string
                    city:
                      type: string
                    zip:
                      type: string
                    timezone:
                      type: string
                venue:
                  type: object
                  properties:
                    category:
                      type: string
                      enum: [retail, restaurant, bar, cafe, hotel, office, gym, hospital, school, mall, airport, gas_station, convenience_store, laundromat, salon, auto_shop, other]
                    subcategory:
                      type: string
                    environment_type:
                      type: string
                      enum: [indoor, outdoor, semi_outdoor, transit]
                    placement_type:
                      type: string
                      enum: [digital_signage, point_of_sale, waiting_area, window_display, kiosk, other]
                    business_name:
                      type: string
                    context_notes:
                      type: string
                placement:
                  type: object
                  properties:
                    mounting_type:
                      type: string
                      enum: [wall, ceiling, tabletop, window, stand, freestanding, other, unknown]
                    orientation:
                      type: string
                      enum: [landscape, portrait]
                    viewing_distance_ft:
                      type: number
                    height_from_floor_ft:
                      type: number
                custom_metadata:
                  type: object
                  description: Any additional metadata for your records
      responses:
        '200':
          description: Device updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Device updated
                  data:
                    $ref: '#/components/schemas/Device'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Devices
      summary: Delete a device
      description: Soft-delete a device. It will no longer receive ads.
      operationId: deleteDevice
      security:
        - BearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Device deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Device deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /devices:
    get:
      tags:
        - Devices
      summary: List all devices
      operationId: listDevices
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, active, offline, suspended]
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Device list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      devices:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeviceSummary'
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer

  /devices/batch:
    post:
      tags:
        - Devices
      summary: Bulk register devices
      description: |
        Register up to 100 devices in a single request.

        Each device must include `device_id`. Optional `defaults` are applied to every device.
      operationId: registerDevicesBatch
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - devices
              properties:
                devices:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - device_id
                    properties:
                      device_id:
                        type: string
                      name:
                        type: string
                      device_type:
                        type: string
                      display:
                        type: object
                      location:
                        type: object
                      venue:
                        type: object
                      placement:
                        type: object
                defaults:
                  type: object
                  description: Default fields applied to each device
      responses:
        '200':
          description: Batch processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      created:
                        type: integer
                      updated:
                        type: integer
                      failed:
                        type: integer
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        trillboard_id:
                          type: string
                        screen_id:
                          type: string
                        fingerprint:
                          type: string
                        status:
                          type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        error:
                          type: string
                        status:
                          type: string

  /device/{deviceId}/ads:
    get:
      tags:
        - Ads
      summary: Get ads for device
      description: |
        **SDK Endpoint** - Returns ads for the specified device.

        This endpoint is called by the Trillboards Lite SDK. It supports ETag caching
        to minimize bandwidth usage.

        If header bidding is enabled for the screen, the response includes
        `header_bidding_settings` with a VAST tag URL for programmatic playback.

        No authentication required - device is identified by fingerprint or external device ID.
      operationId: getAdsForDevice
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device fingerprint or external device ID
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: ETag from previous response for caching
          schema:
            type: string
        - name: slot_w
          in: query
          description: Actual render slot width in pixels (player truth)
          schema:
            type: integer
        - name: slot_h
          in: query
          description: Actual render slot height in pixels (player truth)
          schema:
            type: integer
        - name: orientation
          in: query
          description: Slot orientation (portrait or landscape)
          schema:
            type: string
            enum: [portrait, landscape]
        - name: muted
          in: query
          description: Whether player is muted (true/false or 1/0)
          schema:
            type: boolean
        - name: autoplay
          in: query
          description: Whether autoplay is allowed (true/false or 1/0)
          schema:
            type: boolean
        - name: ua
          in: query
          description: |
            Runtime user agent string from the WebView/browser. Used for CTV device
            detection when stored device metadata is missing. Enables correct dth
            (device type hint) in VAST tags — e.g., Fire TV Silk WebView UA triggers
            dth=4 (CTV) instead of defaulting to dth=2 (desktop).
          schema:
            type: string
            example: "Mozilla/5.0 (Linux; Android 9; AFTKA Build/PS7629) AppleWebKit/537.36 Silk/3.23"
      responses:
        '200':
          description: Ads list
          headers:
            ETag:
              description: Use in If-None-Match for caching
              schema:
                type: string
                example: '"abc123def456"'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      ads:
                        type: array
                        items:
                          $ref: '#/components/schemas/Ad'
                      settings:
                        $ref: '#/components/schemas/AdSettings'
                      header_bidding_settings:
                        $ref: '#/components/schemas/HeaderBiddingSettings'
                      cache_until:
                        type: string
                        format: date-time
                      screen_id:
                        type: string
                      screen_orientation:
                        type: string
                        enum: [portrait, landscape]
                      screen_dimensions:
                        type: object
                        properties:
                          width:
                            type: integer
                          height:
                            type: integer
                          orientation:
                            type: string
                            enum: [portrait, landscape]
                      device:
                        type: object
                        properties:
                          fingerprint:
                            type: string
                          display:
                            type: object
              example:
                success: true
                data:
                  ads:
                    - id: "507f1f77bcf86cd799439011"
                      title: "Summer Sale 50% Off"
                      type: "image"
                      url: "https://cdn.trillboards.com/ads/summer-sale.jpg"
                      duration: 15
                      impression_url: "https://api.trillboards.com/v1/partner/impression?adid=507f1f77bcf86cd799439011&impid={impid}&did={did}&sid={sid}"
                      pixel_url: "https://api.trillboards.com/openrtb/v1/pixel?adid=507f1f77bcf86cd799439011&impid={impid}&deviceId={fp}"
                    - id: "507f1f77bcf86cd799439012"
                      title: "New Product Launch"
                      type: "video"
                      url: "https://cdn.trillboards.com/ads/product-launch.mp4"
                      duration: 30
                      impression_url: "https://api.trillboards.com/v1/partner/impression?adid=507f1f77bcf86cd799439012&impid={impid}&did={did}&sid={sid}"
                      pixel_url: "https://api.trillboards.com/openrtb/v1/pixel?adid=507f1f77bcf86cd799439012&impid={impid}&deviceId={fp}"
                  settings:
                    ad_interval: 300
                    image_duration: 15
                    sound_enabled: false
                    max_ads_per_hour: 20
                    overlay_button_text: "TAP TO CONTINUE"
                  header_bidding_settings:
                    enabled: true
                    vast_tag_url: "https://pubads.g.doubleclick.net/gampad/ads?...&correlator=123"
                    variant_name: "simple"
                    allocation: 1
                    provider: "floodgates"
                    request_mode: "always"
                    force_request: true
                    min_interval_seconds: 60
                    prebid: null
                  cache_until: "2026-01-01T03:00:00.000Z"
                  screen_id: "6507a1b2c3d4e5f6g7h8aa11"
                  screen_orientation: "landscape"
                  screen_dimensions:
                    width: 1920
                    height: 1080
                    orientation: "landscape"
                  device:
                    fingerprint: "P_a1b2c3d4e5f6"
                    display:
                      width: 1920
                      height: 1080
        '304':
          description: Not Modified - use cached response
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /impression:
    get:
      tags:
        - Impressions
      summary: Record impression (pixel)
      description: |
        Record a single impression. Can be called as a tracking pixel (1x1 image load).

        Both GET and POST methods are supported for flexibility.
        Duplicate `impid` + `adid` submissions are ignored (idempotent).

        **Optional Signature Verification**
        Provide signature headers to verify impressions:
        ```
        X-Trillboards-API-Key: trb_partner_xxxxx
        X-Trillboards-Timestamp: <unix_seconds>
        X-Trillboards-Signature: sha256=<hmac>
        ```
        Signature payload:
        ```
        {timestamp}.{adid}.{impid}.{did}.{sid}.{aid}
        ```
        Signature = HMAC-SHA256(api_key, payload)
      operationId: recordImpressionGet
      parameters:
        - name: X-Trillboards-API-Key
          in: header
          description: Partner API key for optional signature verification
          schema:
            type: string
        - name: X-Trillboards-Timestamp
          in: header
          description: Unix timestamp for signature verification
          schema:
            type: integer
        - name: X-Trillboards-Signature
          in: header
          description: HMAC signature for optional verification
          schema:
            type: string
        - name: adid
          in: query
          required: true
          description: Advertisement ID
          schema:
            type: string
        - name: impid
          in: query
          required: true
          description: Unique impression ID
          schema:
            type: string
        - name: did
          in: query
          description: Device ID, fingerprint, or external device ID
          schema:
            type: string
        - name: sid
          in: query
          description: Screen ID (optional, for analytics linkage)
          schema:
            type: string
        - name: aid
          in: query
          description: Allocation ID
          schema:
            type: string
        - name: duration
          in: query
          description: View duration in seconds
          schema:
            type: integer
        - name: completed
          in: query
          description: Whether ad was fully viewed
          schema:
            type: boolean
        - name: display_mode
          in: query
          description: Display mode context (fullscreen, l-bar, pip)
          schema:
            type: string
            enum: [fullscreen, l-bar, pip]
        - name: display_area_ratio
          in: query
          description: Screen area ratio used by ad (0.0 to 1.0)
          schema:
            type: number
        - name: lbar_size
          in: query
          description: L-bar size percentage (0-100)
          schema:
            type: number
        - name: lbar_position
          in: query
          description: L-bar position
          schema:
            type: string
            enum: [bottom, right]
        - name: lbar_slot_index
          in: query
          description: L-bar slot index (0-based)
          schema:
            type: integer
        - name: lbar_slot_count
          in: query
          description: Total L-bar slots in rotation
          schema:
            type: integer
        - name: sig
          in: query
          description: HMAC signature (optional, for signed impressions)
          schema:
            type: string
        - name: sig_ts
          in: query
          description: Signature timestamp in unix seconds
          schema:
            type: integer
      responses:
        '200':
          description: Impression recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  duplicate:
                    type: boolean
    post:
      tags:
        - Impressions
      summary: Record impression (POST)
      operationId: recordImpressionPost
      parameters:
        - name: X-Trillboards-API-Key
          in: header
          description: Partner API key for optional signature verification
          schema:
            type: string
        - name: X-Trillboards-Timestamp
          in: header
          description: Unix timestamp for signature verification
          schema:
            type: integer
        - name: X-Trillboards-Signature
          in: header
          description: HMAC signature for optional verification
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - adid
                - impid
              properties:
                adid:
                  type: string
                impid:
                  type: string
                did:
                  type: string
                sid:
                  type: string
                aid:
                  type: string
                duration:
                  type: integer
                completed:
                  type: boolean
                display_mode:
                  type: string
                  enum: [fullscreen, l-bar, pip]
                display_area_ratio:
                  type: number
                lbar_size:
                  type: number
                lbar_position:
                  type: string
                  enum: [bottom, right]
                lbar_slot_index:
                  type: integer
                lbar_slot_count:
                  type: integer
                sig:
                  type: string
                sig_ts:
                  type: integer
      responses:
        '200':
          description: Impression recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  duplicate:
                    type: boolean

  /openrtb/v1/complete:
    post:
      tags:
        - Impressions
      summary: Record ad completion (custom players)
      description: |
        Report that an ad played to completion. Designed for **custom player integrations**
        that don't use the IMA SDK (which auto-fires VAST tracking URLs).

        This writes a `complete` event to the event tracking pipeline, which the daily
        earnings aggregation cron picks up to calculate revenue. Without this call,
        impressions are recorded but earnings won't be attributed.

        ### When to use this endpoint

        Use this if your integration:
        - Calls `/openrtb/v1/impression` and `/openrtb/v1/heartbeat` directly
        - Does NOT use the IMA SDK or Google DAI
        - Plays VAST ads to completion but doesn't fire the VAST `<Tracking event="complete">` URL

        ### Deduplication

        Events are deduplicated by `(impressionId, screenId)` within a 60-second window.
        If no `impressionId` is provided, one is generated automatically.
      operationId: recordAdComplete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - screenId
                - adId
              properties:
                screenId:
                  type: string
                  description: Screen mongo ID
                  example: "69a076ad2ccbba67a5ba1c1e"
                adId:
                  type: string
                  description: Advertisement or creative ID (from VAST response)
                  example: "ima_24idno"
                impressionId:
                  type: string
                  description: Impression ID for correlation with `/impression` call. Auto-generated if omitted.
                  example: "imp_abc123"
                duration:
                  type: number
                  description: Ad duration in seconds
                  example: 30
                deviceId:
                  type: string
                  description: Device identifier (falls back to request IP if omitted)
      responses:
        '200':
          description: Completion tracked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Ad completion tracked successfully"
                  impressionId:
                    type: string
                    description: The impression ID used (provided or auto-generated)
                    example: "imp_abc123"
              examples:
                success:
                  value:
                    success: true
                    message: "Ad completion tracked successfully"
                    impressionId: "imp_abc123"
                deduplicated:
                  value:
                    success: true
                    message: "Complete event deduplicated"
                    givt:
                      flags: ["duplicate"]
        '400':
          description: Missing required parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing required parameters: screenId and adId are required"
        '500':
          $ref: '#/components/responses/InternalError'

  /impressions/batch:
    post:
      tags:
        - Impressions
      summary: Batch record impressions
      description: |
        Record multiple impressions at once. Useful for syncing offline impressions.

        Maximum 100 impressions per request.
        Signed impressions can include `sig` and `sig_ts` per impression (see `/impression` signature format).
      operationId: recordImpressionsBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - impressions
              properties:
                impressions:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - adid
                      - impid
                    properties:
                      adid:
                        type: string
                      impid:
                        type: string
                      did:
                        type: string
                      sid:
                        type: string
                      aid:
                        type: string
                      duration:
                        type: integer
                      completed:
                        type: boolean
                      display_mode:
                        type: string
                        enum: [fullscreen, l-bar, pip]
                      display_area_ratio:
                        type: number
                      lbar_size:
                        type: number
                      lbar_position:
                        type: string
                        enum: [bottom, right]
                      lbar_slot_index:
                        type: integer
                      lbar_slot_count:
                        type: integer
                      sig:
                        type: string
                      sig_ts:
                        type: integer
                      timestamp:
                        type: string
                        format: date-time
                      device_fingerprint:
                        type: string
      responses:
        '200':
          description: Batch processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      recorded:
                        type: integer
                      failed:
                        type: integer
                      skipped:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            impid:
                              type: string
                            error:
                              type: string

  /device/{deviceId}/heartbeat:
    post:
      tags:
        - Devices
      summary: Device heartbeat
      description: |
        Mark device as online. Called periodically by SDK.

        Supports structured telemetry payloads (`telemetry`, `sdk`, `device`, `network`, `ad`)
        and legacy flat heartbeat keys for backward compatibility.
      operationId: heartbeat
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device fingerprint or external device ID
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerHeartbeatRequest'
      responses:
        '200':
          description: Heartbeat recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerHeartbeatResponse'

  /device/{deviceId}/programmatic-event:
    post:
      tags:
        - Ads
      summary: Record programmatic ad event (Server-side Analytics)
      description: |
        **SDK Analytics Endpoint** - Records programmatic ad lifecycle events for
        Trillboards' internal analytics and triggers partner webhooks when subscribed.

        **Important**: This endpoint is for **server-side event recording only**.
        It does NOT push events to your native Android, iOS, or CTV applications.

        For receiving real-time events in native applications, use the
        **JavaScript Native Bridge Protocol** instead. The SDK automatically sends
        events to standard native interfaces (Android WebView, iOS WKWebView,
        React Native, Flutter, etc.).

        See documentation: https://api.trillboards.com/docs/integrations/partner-native-bridge.md

        ### Events Recorded:
        - `ad_started` - Ad began playing
        - `ad_ended` - Ad finished (complete or skipped)
        - `no_fill` - No programmatic ad available
        - `error` - Ad playback error
      operationId: recordProgrammaticEvent
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device fingerprint or external device ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
              properties:
                event:
                  type: string
                  enum: [ad_started, ad_ended, no_fill, error]
                ad_id:
                  type: string
                request_id:
                  type: string
                reason:
                  type: string
                error_code:
                  type: string
                error_message:
                  type: string
                variant_name:
                  type: string
                screen_orientation:
                  type: string
                  enum: [portrait, landscape]
                slot_width:
                  type: integer
                slot_height:
                  type: integer
      responses:
        '200':
          description: Event recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /analytics:
    get:
      tags:
        - Analytics
      summary: Get partner analytics
      operationId: getAnalytics
      security:
        - BearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      partner:
                        type: object
                        properties:
                          total_devices:
                            type: integer
                          active_devices:
                            type: integer
                          total_impressions:
                            type: integer
                          total_revenue_cents:
                            type: integer
                          pending_payout_cents:
                            type: integer
                      devices_by_status:
                        type: array
                        items:
                          type: object
                      impressions_by_day:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                              description: Date (YYYY-MM-DD)
                            impressions:
                              type: integer
                      period:
                        type: object
                        properties:
                          start:
                            type: string
                            format: date-time
                          end:
                            type: string
                            format: date-time

  /screens/resolve:
    get:
      tags:
        - CMS
      summary: Resolve screen ID by device identifier
      description: |
        Resolve a partner screen using a device identifier (fingerprint, device_id, or external_device_id).
        Use this when you only have device IDs but want to call screen-based CMS endpoints.
      operationId: resolvePartnerScreen
      security:
        - BearerAuth: []
      parameters:
        - name: device_id
          in: query
          description: Partner device ID or fingerprint
          schema:
            type: string
        - name: external_device_id
          in: query
          description: Partner external device ID (device_id from registration)
          schema:
            type: string
        - name: fingerprint
          in: query
          description: Device fingerprint (fp)
          schema:
            type: string
      responses:
        '200':
          description: Screen resolved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      screen_id:
                        type: string
                      device_id:
                        type: string
                      fingerprint:
                        type: string
                      external_device_id:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /devices/batch/orientation:
    post:
      tags:
        - Devices
      summary: Batch update screen orientation
      description: |
        Update `screen_orientation` for multiple devices/screens in one request.
        Accepts device identifiers (ObjectId, fingerprint, or partner_external_id).
      operationId: batchUpdateDeviceOrientation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - device_ids
                - screen_orientation
              properties:
                device_ids:
                  type: array
                  minItems: 1
                  items:
                    type: string
                screen_orientation:
                  type: string
                  enum: [portrait, landscape, mixed, unknown]
      responses:
        '200':
          description: Batch update result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  total_devices:
                    type: integer
                  matched_devices:
                    type: integer
                  updated_screens:
                    type: integer
                  missing_device_ids:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/default-streams:
    get:
      tags:
        - CMS
      summary: List default streams for a screen
      operationId: listPartnerDefaultStreams
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Default streams list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      streams:
                        type: array
                        items:
                          $ref: '#/components/schemas/PartnerDefaultStream'
                      current:
                        $ref: '#/components/schemas/PartnerDefaultStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - CMS
      summary: Create a default stream (URL-based)
      operationId: createPartnerDefaultStream
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerDefaultStreamCreate'
      responses:
        '201':
          description: Default stream created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerDefaultStream'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/default-streams/upload:
    post:
      tags:
        - CMS
      summary: Upload a video default stream
      operationId: createPartnerDefaultStreamUpload
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - video
              properties:
                video:
                  type: string
                  format: binary
                name:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Default stream created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerDefaultStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/default-streams/images:
    post:
      tags:
        - CMS
      summary: Upload image carousel default stream
      operationId: createPartnerDefaultStreamImages
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - images
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                name:
                  type: string
                description:
                  type: string
                image_duration:
                  type: integer
                  description: Seconds per image
      responses:
        '201':
          description: Default stream created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerDefaultStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/default-streams/{streamId}:
    put:
      tags:
        - CMS
      summary: Update a default stream
      operationId: updatePartnerDefaultStream
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerDefaultStreamUpdate'
      responses:
        '200':
          description: Default stream updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerDefaultStream'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - CMS
      summary: Delete a default stream
      operationId: deletePartnerDefaultStream
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
        - name: streamId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Default stream deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/default-streams/order:
    put:
      tags:
        - CMS
      summary: Reorder default streams
      operationId: reorderPartnerDefaultStreams
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order
              properties:
                order:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Default streams reordered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/l-bar:
    get:
      tags:
        - CMS
      summary: Get L-Bar settings
      operationId: getPartnerLBarSettings
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: L-Bar settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerLBarSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - CMS
      summary: Update L-Bar settings
      operationId: updatePartnerLBarSettings
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_preferences:
                  $ref: '#/components/schemas/PartnerLBarDisplayPreferences'
                l_bar_content:
                  $ref: '#/components/schemas/PartnerLBarContent'
      responses:
        '200':
          description: L-Bar settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerLBarSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/l-bar/live-updates:
    put:
      tags:
        - CMS
      summary: Update L-Bar live updates
      operationId: updatePartnerLBarLiveUpdates
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queue_number:
                  type: string
                wait_time_minutes:
                  type: number
                promotion:
                  type: string
                custom_status:
                  type: string
      responses:
        '200':
          description: L-Bar live updates applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ads/self-promo:
    get:
      tags:
        - CMS
      summary: List self-promo ads
      operationId: listPartnerSelfPromoAds
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Self-promo ads list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartnerSelfPromoAd'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - CMS
      summary: Create self-promo ad (URL-based)
      operationId: createPartnerSelfPromoAd
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerSelfPromoCreate'
      responses:
        '201':
          description: Self-promo ad created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerSelfPromoAd'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ads/self-promo/upload:
    post:
      tags:
        - CMS
      summary: Create self-promo ad (upload)
      operationId: createPartnerSelfPromoUpload
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - media
                - name
              properties:
                media:
                  type: string
                  format: binary
                name:
                  type: string
                description:
                  type: string
                campaign_link:
                  type: string
                  format: uri
                screen_ids:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Self-promo ad created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PartnerSelfPromoAd'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ads/self-promo/schedule:
    post:
      tags:
        - CMS
      summary: Schedule existing self-promo ad to screens
      operationId: schedulePartnerSelfPromo
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ad_id
                - screen_ids
              properties:
                ad_id:
                  type: string
                screen_ids:
                  type: array
                  items:
                    type: string
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
      responses:
        '200':
          description: Self-promo scheduled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ads/self-promo/{adId}/disable:
    post:
      tags:
        - CMS
      summary: Disable self-promo ad allocations
      operationId: disablePartnerSelfPromo
      security:
        - BearerAuth: []
      parameters:
        - name: adId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                screen_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Self-promo disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ads/self-promo/placements:
    get:
      tags:
        - CMS
      summary: List self-promo placements by screen
      operationId: listPartnerSelfPromoPlacements
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Self-promo placements
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartnerSelfPromoPlacement'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks:
    post:
      tags:
        - Webhooks
      summary: Create webhook subscription
      description: |
        Subscribe to webhook events. Webhooks deliver real-time notifications
        when events occur on your devices.

        **Available Events:**
        - `device.online` - Device comes online after being offline
        - `device.offline` - Device goes offline (no heartbeat for 5+ minutes)
        - `impression.recorded` - Ad impression recorded on a device
        - `campaign.allocated` - New campaign allocated to a device
        - `payout.processed` - Revenue payout processed
        - `programmatic.ad_started` - Programmatic ad started
        - `programmatic.ad_ended` - Programmatic ad ended
        - `programmatic.no_fill` - Programmatic no-fill response
        - `programmatic.error` - Programmatic error

        **Security:**
        - HTTPS required in production
        - HMAC-SHA256 signature verification
        - Secret shown only once in response - store it securely!

        **Signature Verification:**
        ```
        signature = HMAC-SHA256(webhook_secret, timestamp + "." + JSON.stringify(payload))
        ```
        Verify against `X-Trillboards-Signature` header (prefixed with `sha256=`).
      operationId: createWebhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
                - events
              properties:
                url:
                  type: string
                  format: uri
                  description: Webhook endpoint URL (HTTPS required in production)
                  example: https://example.com/webhooks/trillboards
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - device.online
                      - device.offline
                      - impression.recorded
                      - campaign.allocated
                      - payout.processed
                      - programmatic.ad_started
                      - programmatic.ad_ended
                      - programmatic.no_fill
                      - programmatic.error
                  description: Events to subscribe to
                  example: ["device.online", "device.offline", "impression.recorded"]
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      webhook_id:
                        type: string
                        example: wh_m4k7x9_a1b2c3d4e5f6
                      url:
                        type: string
                      events:
                        type: array
                        items:
                          type: string
                      secret:
                        type: string
                        description: Webhook signing secret (shown only once!)
                        example: whsec_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6
                      status:
                        type: string
                        enum: [active, inactive]
              example:
                success: true
                message: "Webhook created. Save the secret - it won't be shown again!"
                data:
                  webhook_id: "wh_m4k7x9_a1b2c3d4e5f6"
                  url: "https://example.com/webhooks/trillboards"
                  events: ["device.online", "device.offline"]
                  secret: "whsec_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
                  status: "active"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Get all webhook subscriptions for your account.
      operationId: listWebhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Webhooks list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      webhooks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Webhook'
              example:
                success: true
                data:
                  webhooks:
                    - webhook_id: "wh_m4k7x9_a1b2c3d4e5f6"
                      url: "https://example.com/webhooks/trillboards"
                      events: ["device.online", "device.offline"]
                      status: "active"
                      success_count: 42
                      failure_count: 2
                      last_triggered_at: "2026-01-01T02:30:00.000Z"
                      created_at: "2025-12-01T00:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks/{webhookId}:
    patch:
      tags:
        - Webhooks
      summary: Update webhook
      description: Update webhook URL, events, or status.
      operationId: updateWebhook
      security:
        - BearerAuth: []
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum:
                      - device.online
                      - device.offline
                      - impression.recorded
                      - campaign.allocated
                      - payout.processed
                      - programmatic.ad_started
                      - programmatic.ad_ended
                      - programmatic.no_fill
                      - programmatic.error
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Webhook'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Webhooks
      summary: Delete webhook
      description: Remove a webhook subscription.
      operationId: deleteWebhook
      security:
        - BearerAuth: []
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Webhook deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/{webhookId}/test:
    post:
      tags:
        - Webhooks
      summary: Test webhook
      description: |
        Send a test event to verify your webhook endpoint is working.
        The test event uses the `test` event type with a sample payload.
      operationId: testWebhook
      security:
        - BearerAuth: []
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      status:
                        type: integer
                      response_time_ms:
                        type: integer
                      error:
                        type: string
              example:
                success: true
                message: "Test webhook sent successfully"
                data:
                  status: 200
                  response_time_ms: 142
                  error: null
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/{webhookId}/deliveries:
    get:
      tags:
        - Webhooks
      summary: Get delivery history
      description: Get recent webhook delivery attempts for debugging.
      operationId: getWebhookDeliveries
      security:
        - BearerAuth: []
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Delivery history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deliveries:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookDelivery'
              example:
                success: true
                data:
                  deliveries:
                    - id: "507f1f77bcf86cd799439011"
                      event_type: "device.online"
                      status: "success"
                      http_status: 200
                      response_time_ms: 142
                      attempted_at: "2026-01-01T02:30:00.000Z"
                      delivered_at: "2026-01-01T02:30:00.142Z"
                    - id: "507f1f77bcf86cd799439012"
                      event_type: "impression.recorded"
                      status: "failed"
                      http_status: 500
                      response_time_ms: 5012
                      error_message: "Connection timeout"
                      attempted_at: "2026-01-01T02:25:00.000Z"
                      retry_count: 2
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================
  # CONTENT PREFERENCES
  # ==========================================

  /content-presets:
    get:
      tags:
        - CMS
      summary: List content presets
      description: |
        List all available content preference presets.
        Presets provide pre-configured content filtering rules for common venue types.
      operationId: listContentPresets
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Content presets retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentPreset'
                  has_more:
                    type: boolean
                  total_count:
                    type: integer
                  url:
                    type: string
              example:
                object: list
                data:
                  - id: "family_friendly"
                    name: "Family Friendly"
                    description: "Safe content for family environments"
                    blocked_categories: ["alcohol", "gambling", "adult"]
                    blocked_advertisers: []
                    min_ad_rating: "G"
                  - id: "bar_nightclub"
                    name: "Bar & Nightclub"
                    description: "Content suitable for adult venues"
                    blocked_categories: []
                    blocked_advertisers: []
                    min_ad_rating: "PG-13"
                has_more: false
                total_count: 5
                url: "/v1/partner/content-presets"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /content-presets/{presetId}:
    get:
      tags:
        - CMS
      summary: Get content preset
      description: Get details of a specific content preset.
      operationId: getContentPreset
      security:
        - BearerAuth: []
      parameters:
        - name: presetId
          in: path
          required: true
          description: Preset ID (e.g., "family_friendly", "bar_nightclub")
          schema:
            type: string
      responses:
        '200':
          description: Preset retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPreset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Preset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /screens/{screenId}/content-preferences:
    get:
      tags:
        - CMS
      summary: Get screen content preferences
      description: |
        Get content filtering preferences for a specific screen.
        Controls what types of ads can be displayed.
      operationId: getContentPreferences
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Content preferences retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPreferencesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - CMS
      summary: Update content preferences (full)
      description: |
        Full update of content filtering preferences for a screen.
        Replaces all existing preferences with the provided values.
        Triggers real-time update to the screen via WebSocket.
      operationId: updateContentPreferences
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentPreferencesInput'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPreferencesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - CMS
      summary: Update content preferences (partial)
      description: |
        Partial update of content preferences. Only updates provided fields.
        Triggers real-time update to the screen via WebSocket.
      operationId: patchContentPreferences
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentPreferencesInput'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPreferencesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/{screenId}/apply-preset:
    post:
      tags:
        - CMS
      summary: Apply content preset to screen
      description: |
        Apply a predefined content preset to a screen.
        This overwrites existing content preferences with the preset values.
      operationId: applyContentPreset
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - preset_id
              properties:
                preset_id:
                  type: string
                  description: ID of the preset to apply
            example:
              preset_id: "family_friendly"
      responses:
        '200':
          description: Preset applied
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ContentPreferencesResponse'
                  - type: object
                    properties:
                      preset_applied:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /screens/batch/content-preferences:
    post:
      tags:
        - CMS
      summary: Batch update content preferences
      description: |
        Update content preferences for multiple screens at once.
        Can apply custom preferences or a preset to up to 100 screens.
      operationId: batchUpdateContentPreferences
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - screen_ids
              properties:
                screen_ids:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  description: Array of screen IDs to update
                preferences:
                  $ref: '#/components/schemas/ContentPreferencesInput'
                preset_id:
                  type: string
                  description: Preset ID to apply (alternative to preferences)
            examples:
              with_preferences:
                summary: Custom preferences
                value:
                  screen_ids: ["screen1", "screen2", "screen3"]
                  preferences:
                    blocked_categories: ["alcohol", "gambling"]
              with_preset:
                summary: Apply preset
                value:
                  screen_ids: ["screen1", "screen2", "screen3"]
                  preset_id: "family_friendly"
      responses:
        '200':
          description: Batch update completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================
  # DISPLAY SETTINGS
  # ==========================================

  /screens/{screenId}/display-settings:
    get:
      tags:
        - CMS
      summary: Get display settings
      description: |
        Get display configuration for a screen including orientation,
        ad surfaces, and playback policy.
      operationId: getDisplaySettings
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Display settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplaySettingsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - CMS
      summary: Update display settings (full)
      description: |
        Full update of display settings for a screen.
        Triggers real-time update and screen refresh via WebSocket.
      operationId: updateDisplaySettings
      security:
        - BearerAuth: []
      parameters:
        - name: screenId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplaySettingsInput'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplaySettingsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - CMS
[...]
